/* ---------------- AREA DE BUSCA ------------- */
main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.busca{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.btnBusca{
    border: 0;
    background-color: #fff
}

#barraBusca{
    position: relative;
    width: 808px;
    height: 45px;
    outline: none;
    margin-right: 15px;
    font-size: 1.5em;
}

.addLobo{
    font-family: "Darker Grotesque";
    font-weight: 600;
    font-size: 1.8em;
    padding: 0 10%;
    border: 0px;
    background-color: #DEB959;
    color: #fff;
}

.adotados {
    font-size: 1.5em;
    margin-left: 40px;
}

/* ---------------- LISTA DE LOBOS ------------- */

.containerLobos{
    display: flex;
    flex-direction: column;
}

.infoLobos{
    padding: 10px;
    margin: 5% 15%;
    display: flex;
    flex-direction: row-reverse;
}

.infoLobos:nth-child(2n) {
    flex-direction: row;
}

.txtLobos{
    display: flex;
    flex-direction: column;

    margin: 0px 5%;
}

.idLobo{
    font-weight: 600;
}

.nameLobo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    order: 0;
}

.botaoAdotar{
    font-family: "Darker Grotesque";
    font-weight: 600;
    font-size: 0.7em;
    padding: 0 10%;
    border: 0px;

    background-color: #DEB959;
    color: #fff;
}

.loboAdotado{
    font-family: "Darker Grotesque";
    font-weight: 600;
    line-height: 50px;
    font-size: 0.8em;
    padding: 0 7%;

    background-color: #3eaf48;
    color: #fff;
}

.ageLobo{
    font-size: 1.2em;
    margin: 4% 0;
    order: 1;
}

.descriptionLobo{
    font-size: 1.5em;
    line-height: 1.2em;
    order: 3;
}

.adopter_nameLobo{
    font-size: 1.2em;
    font-weight: 700;
    margin: 4% 0;
    order: 4;
}
.infoLobos img {
    height: 328px;
    width: 430px;
    box-shadow: -40px -36px #2C5680, -37px -39px #333, -43px -33px #333, -43px -39px #333;
}

.infoLobos:nth-child(2n) img {
    box-shadow: 40px -36px #2C5680, 37px -39px #333, 43px -33px #333, 43px -39px #333; 
}

