/*
Theme name: Treinamento
Author: Sergio Herman
Description: primeira vez usando o WordPress
Version: 1
*/


@import 'reset.css';
@import 'padrao.css';

/* Fazer a responsividade na section Valores */

/****** GLOBAL ******/

/* Estilização de Títulos */
h1{
    font-size: 5rem;
    font-weight: 900;
    margin: 3rem;
}

h2{
    color: #DEB959;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem;
}

h3{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1.8rem 0 0.5rem 0;
}

h4{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1.5rem;
}

h5{
    font-size: 1rem;
    margin: 0.2rem 0 1.3rem 0;
}



/****** HOME PAGE ******/



/* ADOTE */

.adote{
    position: relative;
    font-size: 1.5rem;
}

.imgAdote{
    width: 100%;
    padding: 0;
    border: 0;
    margin: -0.2rem;
}

.adote div{
    position: absolute;
    color: white;
    text-align: center;
    width: 50rem;
    left: 50%;
    transform: translate(-50%, -25rem);
}

.adote div hr{
    width: 5.5rem;
    height: 0.25rem;
    border: 0;
    background-color: white;
}



/* SOBRE */

.sobre{
    background-color: #2e6381;
    padding: 1rem 10rem 3rem;
    text-align: center;
    color: white;
    line-height: 3ch;
}



/* VALORES */

.valores{
    background-color: #333333;
    padding: 1rem 8rem 3rem;
    text-align: center;
    color: white;
}

.cardsDispFlex{
    display: flex;
}

.cardsDispFlex img{
    border-radius: 50%;
    width: 10rem;
}

.cardValores{
    width: 25%;
    margin: 0.5rem;
    padding: 0.5rem;
}



/* EXEMPLO */

.exemplo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.exemplo img{
    width: 20rem;
}

.quadroAzulImpar{
    background-color: #2C5680;
    border: 0.2rem #333333 solid;
    width: fit-content;
    height: fit-content;
    margin: 0 5rem 3rem 0;
}

.quadroAzulPar{
    background-color: #2C5680;
    border: 0.2rem #333333 solid;
    width: fit-content;
    height: fit-content;
    margin: 0 0 3rem 5rem;
}

.quadroAzulImpar img{
    position: relative;
    transform: translate(10%,10%);
    width: 20rem;
}

.quadroAzulPar img{
    position: relative;
    transform: translate(-10%,10%);
    width: 20rem;
}

.dispExImpar{
    display: flex;
    width: 80%;
    margin: 1rem;
    justify-content: center;
}

.dispExPar{
    display: flex;
    width: 80%;
    margin: 1rem;
    text-align: right;
    justify-content: center;
    
}

.txtExemplo{
    flex-direction: column;
}

.dispFlexMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;    
    
}

.paginacao{
    flex-direction: row;
}

.titulo_quem_somos h3{
    margin: 2rem;
    font-size: 3rem;
    text-align: center;
}

.descricao_quem_somos{
    margin: 2rem;
    text-align: center;
}