
 body {
    margin: 0px
}

.container {
    width: 100%;
    height: 700px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
 
    box-sizing: border-box;

        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        width: 45em;
        justify-content: space-between;
        padding: 0rem 5rem;
}

.box div{
    flex-direction: column;
    margin: 0.5rem 0rem;
}

.boxMaior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: #333333 solid;
}

.estiloTituloPrincipal{
    display: flex;
    justify-content: center;
    margin: 35px 0px 20px;

  
    font-size: 50px;
    font-weight: 600;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: center;
}

.estiloNome{
    box-sizing: border-box;
    height: 30px;
    background: #E6E6E6;
    border: 1px solid #333333;
}

.estiloTituloNome{
   width: 60%;
}


.estiloAnos{
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    background: #E6E6E6;
    border: 1px solid #333333;
}

.estiloLinkF{
    box-sizing: border-box;
    background: #E6E6E6;
    border: 1px solid #333333;
    height: 30px;
}


.estiloDescricao{
    height: 150px;
    background: #E6E6E6;
    border: 1px solid #333333;
}

Button{
    display: flex;
    justify-content: center;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;
    font-size: 2ch;
    margin: 2rem;
    color: #FFFFFF;

    height: 60px;
    width: 209px;
    background: #2C5680;
    border: 1px solid #333333;
}


.divNome{
    width: 77%;
 
}

.divAnos{
    width: 20%;
}

.divLink{
    width: 100%;
}

.divDescr{
    width: 100%;
}

input{
    width: 100%;
}