.containerLobo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.nameLobo{
    font-size: 3em;
    font-weight: 700;
}

input{
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 600;
    position: relative;
    margin-left: 5%;
    padding: 1rem 3rem;
}

.adotar{
    background-color: rgb(33, 161, 61);
    margin-left: 15%;
}

.excluir{
    background-color: rgb(161, 33, 33);
}

.infoLobos{
    padding: 10px;
    margin: 5% 15%;
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;
}

.descriptionLobo{
    font-size: 1.4em;
    line-height: 1.2em;
    margin: 0px 5%;
}

.infoLobos img {
    height: 328px;
    width: 430px;
    box-shadow: -40px -36px #2C5680, -37px -39px #333, -43px -33px #333, -43px -39px #333;
}